* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
}

body {
  overflow: hidden;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  width: 100vw;
  position: fixed;
  top: 0;
  background-color: blanchedalmond;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);
  z-index: 2;
}

nav > header {
  margin-left: 20px;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
}

nav > .nav-links {
  margin-right: 10px;
}

nav > .nav-links > a {
  margin-right: 20px;
  text-decoration: none;
  color: black;
  text-transform: lowercase;
}

nav > .nav-links > a:hover {
  text-decoration: underline;
}

.scrollable {
  top: 60px;
  position: absolute;
  overflow-y: scroll;
  height: calc(100vh - 60px);
}

.product {
  display: flex;
  margin: 40px 40px 0px 40px;
}

.product-left {
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-left > img {
  height: 80%;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
}

.product-left > button {
  padding: 8px 12px;
  text-transform: uppercase;
  border-width: 0;
  background-color: blanchedalmond;
  font-weight: 600;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
}

.product-left > button:hover {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
  transition: box-shadow 0.1s ease-in;
}

.product-right {
  display: flex;
  position: relative;
  top: -40px;
  flex-direction: column;
  justify-content: center;
}

.product > * {
  width: 50%;
}

.posts {
  width: calc(100vw - 80px);
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin: 0px 40px;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  padding: 0px 0px 10px 0px;
}

article > h3 {
  font-size: 24px;
  margin: 0px;
  width: 100%;
  padding: 10px 0px;
  text-align: center;
  background-color: blanchedalmond;
}

article > h3 > a {
  color: black;
}

article > h3 > a:hover {
  text-decoration: underline;
}

.description > p {
  font-size: 16px;
  margin: 0px 10px 0px 10px;
}

.img-container {
  width: 100%;
  height: 360px;
  margin-bottom: 10px;
}

.img-container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

footer {
  margin-top: 40px;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(0, 0, 0, 0.9);
  color: white;
}

footer > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-left,
.footer-center,
.footer-right {
  width: 33%;
  height: 100%;
  justify-content: center;
  padding-bottom: 20px;
}

a[href^='mailto'],
a[href^='tel'] {
  color: inherit;
  text-decoration: none;
}

a[href^='mailto']:hover,
a[href^='tel']:hover {
  text-decoration: underline;
}

.footer-left * {
  text-align: center;
}

.copyright {
  font-size: 0.9rem;
}

.footer-right > h3 {
  margin-bottom: 10px;
}

.socials {
  display: flex;
  justify-content: space-between;
}

.socials > a {
  text-decoration: none;
  color: white;
}

.socials > a {
  margin-right: 10px;
}

.socials > a:hover {
  transform: translateY(-4px);
  transition: transform 0.1s ease-in-out;
}

.socials > span:last-child {
  margin-right: 0;
}

.facebook > svg {
  border-radius: 36px;
  padding: 5px;
  background-color: #4267b2;
}

.instagram > svg {
  border-radius: 36px;
  padding: 5px;
  background-color: #e1306c;
}

.twitter > svg {
  border-radius: 36px;
  padding: 5px;
  background-color: #1da1f2;
}

.pinterest > svg {
  border-radius: 36px;
  padding: 5px;
  background-color: #e60023;
}

.reddit > svg {
  border-radius: 36px;
  padding: 5px;
  background-color: #ff4500;
}
